body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}



/* PALETTES https://colorhunt.co/palette/0513672d31fa5d8bf4dff6ff */
.palettes {
    background-color: #051367;
    background-color: #2D31FA;
    background-color: #5D8BF4;
    background-color: #DFF6FF;
}

/* Headings */
.big-heading {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.sections-heading {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: left;
}

p {
    text-align: justify;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* SECTIONS */

.colored-section {
    background-color: #051367;
    color: #DFF6FF;

}

.white-section {
    background-color: #DFF6FF;
    color: #051367;
    text-align: center;
}

/* NAVBAR */

.navbar {
    padding: 0 0 5rem;
}

.nav-item {
    padding: 0 18px;

}

.nav-link {
    color: #DFF6FF;
    width: 9rem;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}

.nav-link:hover {
    color: #5D8BF4;
}

.climateng_img {
    width: 15rem;
}

/* Title */
.title-img {
    width: 40rem;
}

.img-quem-somos {
    width: 40rem;
    margin: auto;

}

/* WHATSAPP ICON */
.whats {
    font-size: 50px;
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;

    }

    .title-img {
        position: static;
        width: 100%;
        
    }

    .img-quem-somos {
        width: 100%;
        margin: auto;
    
    }

}